.logo {
  position: relative;
  text-decoration: none;
  color: black;
  display: inline-block;
  white-space: nowrap;
  height: 60px; /* 추가: 고정 높이 설정 */
}

.logo-text, .logo-hover {
  font-size: 48px;
  font-weight: bold;
  display: inline-block;
  position: absolute; /* 수정: 두 요소 모두 absolute로 설정 */
  top: 0;
  left: 0;
}

.logo-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.logo-hover {
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.logo-hover .small {
  font-size: 24px;
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease;
  transform: translateY(8px); /* 추가: 아래로 이동 */
  margin-right: -5px;
}

.logo:hover .logo-text {
  opacity: 0;
}

.logo:hover .logo-hover {
  opacity: 1;
}

.logo:hover .logo-hover .small {
  width: 82px; /* 85px에서 82px로 조정 */
}
