.slick-slider {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slick-list {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slick-slide {
    border-radius: 10px;
    overflow: hidden;
  }